	<footer class="footer">
		<ul>
			<li class="whois">
				<a class="title" href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#099;&#104;&#114;&#105;&#115;&#116;&#111;&#112;&#104;&#101;&#114;&#114;&#101;&#105;&#110;&#098;&#111;&#116;&#104;&#101;&#064;&#112;&#104;&#110;&#101;&#117;&#116;&#114;&#097;&#108;&#046;&#110;&#101;&#116;" title="&#064;&#112;&#104;&#110;&#101;&#117;&#116;&#114;&#097;&#108;&#046;&#110;&#101;&#116;">christopherreinbothe</a><br>
				<a class="title" href="https://ruhr.social/@phneutral" rel="me" title=" im Fediverse">@phneutral</a><br>
				<a class="titlebefore" itemprop="url" href="https://www.phneutral.net" title="www.phneutral.net">.net</a>
			</li>
			<li>
				Webseite, Graphikdesignlabor<br>
				und Internetfundbüro<br>
				von Christopher Reinbothe</li>
			<li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<span itemprop="streetAddress">&incare; Projektspeicher, Speicherstraße 33</span><br>
				<span itemprop="postalCode">44147</span> <span itemprop="addressLocality">Dortmund</span>
			</li>
			<li itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<span itemprop="streetAddress">&incare; Utopiastadt, Mirkerstraße 48</span><br>
				<span itemprop="postalCode">42105</span> <span itemprop="addressLocality">Wuppertal</span>
			</li>
		</ul>
		<ul>
			<li>Dies ist das Impressum. Bei phneutral.net handelt es sich um ein nicht-kommerzielles, kostenfreies publizistisches Angebot von Christopher Reinbothe. Falls Fragen zu Inhalten bleiben, wenden Sie sich direkt an mich &mdash; am Liebsten per Mail oder Mastodon.</li>
			<li><a class="no-print" href="http://www.yourworldoftext.com/phneutral">Wer mag, darf gerne noch eine Zeile dalassen.</a></li>
			<li><a class="no-print" href="/archiv">Mutige stöbern im Archiv.</a></li>
			<li>
				<!--<a href="http://datalove.me" target="_blank"><img src="static/images/datalove-s4.webp" alt="datalove <3" title="datalove <3" /></a>-->
				<a href="https://trotzendorff.de/macht-und-geld/steig-aus/" target="_blank"><img src="/static/images/exitnuke_micro1.webp" alt="atomkraft nein, nein!" title="atomkraft nein, nein!" /></a>
			</li>
		</ul>

	</footer>
	<div class="omega">
		<a href="#alpha" id="omega">
			<strong>♹ Ende</strong><br>
			<span>Jedes Ende ist auch ein Anfang sagt man und es gibt nichts, das man ewig haben kann.</span>
		</a>
	</div>
	<!-- Zeitreise. -->

