<header class="header">
	<div class="logo" id="logo">
		<sl-tooltip placement="bottom">
			<div slot="content">Das Logo von phneutral.net:<br>Eine 7 im Siebeneck</div>
			<sl-icon library="ph" name="phneutral_logo" label="Eine 7 im Siebeneck - Das Logo von phneutral.net"></sl-icon>
		</sl-tooltip>
	</div>
</header>
