<header class="header" id="alpha">
	<div class="logo" id="logo">
		<sl-tooltip placement="bottom">
			<div slot="content">Das Logo von phneutral.net:<br>Eine 7 im Siebeneck</div>
			<a href="/">
				<sl-icon library="ph" name="phneutral_logo" label="Eine 7 im Siebeneck - Das Logo von phneutral.net"></sl-icon>
			</a>
		</sl-tooltip>
		{%- if theme==="bernstein" or "morpheus" -%}
			<sl-tooltip placement="bottom">
				<div slot="content">Das Logo der Bernstein-Biblothek:<br>Eine im Bernstein eingeschlossene Mücke</div>
				<a href="/texts">
					<sl-icon library="ph" name="bernstein" label="Illustration einer im Bernstein eingeschlossenen Mücke - Das Logo der Bernstein-Biblothek"></sl-icon>
				</a>
			</sl-tooltip>
		{%- endif -%}
	</div>
</header>
