---
layout: ./templates/page.njk
title: "Insomnia"
description: Der Flug der Morpheus &mdash; Teil II
year: 2015
date: 2015-01-01
theme: morpheus
templateEngineOverride: njk, md
---

<div class="sheet-paragraph">
	<p>
		Sie beobachten ihn. Dessen ist er sich sicher. <em>›Bloß nichts anmerken lassen.‹</em> Übertrieben gelangweilt
		wandert sein Blick durch die urige Küche und bleibt unscharf am saftigen Grün vor dem Fenster hängen. Hier ist
		er zuhause. Einer der vielen Terminals gibt ein unbestimmtes Pfeifen von sich. Unzählige Sensoren und endlose,
		unüberschaubare Prozesse halten ihn inmitten der Unendlichkeit am Leben. Irgendwo dahinten in den Wäldern werden
		sie hocken, denkt er sich. Er kneift die Augen zusammen. Mit ihren Gläsern. Die Rohre fern auf ihn gerichtet.
		Jedem seiner Schritte folgend.
	</p>
	<p>
		Seit dem sie ihn aus dem Kryoschlaf geweckt haben, kannte er das Gefühl von Müdigkeit nicht mehr. Wochenlang ist
		er nun schon wach. Ihm fehlt jeder Rhythmus. Außerhalb des Raumschiffs ist es gleichbleibend schwarz, aber die
		ständige Präsenz der Sonne macht jeden Eindruck einer Nacht zum Tage. Quer durch das Universum haben sie ihn
		geschickt, ihn geweckt und so programmiert, dass er seine Aufgabe ohne lästige Ruhepausen erfüllen konnte.
		Gewarnt oder in anderer Weise darauf vorbereitet haben sie ihn nicht. Er spuckt auf den steinernen Fußboden und
		schüttelt den Kopf. Angestrengt versuchen seine Augen die Werte auf der Kommandokonsole zu fokussieren.
	</p>
	<p>
		Erst ist es nur ein kleiner blauer Punkt inmitten des Schwarz gewesen. Dem kalten, unendlichen, einsamen
		Schwarz. Dem Schwarz in das er geflohen war, das ihn umgab, dessen Teil er jetzt ist. Doch nun war da dieser
		Punkt. Ein Punkt gleich dem, den er hinter sich gelassen hatte. Ein blauer Punkt. <span class="heinrich">»Irene. Ist sie das?«</span>
		Seine Skepsis ist nicht auf den Punkt, sondern noch immer auf Irene bezogen. Irene, die einzige Stimme, die er
		hier hört. Die einzige Begleitung, die er hier hat. Und dennoch: trauen kann er ihr nicht. Sie steckt mit ihnen
		unter einer Decke. Befolgt ihre Befehle und bespitzelt ihn. Er gähnt. Sie fragt: <span class="irene">»Wen meinst Du, Heinrich?«</span>
		Er gluckst. <span class="heinrich">»Ist sie es, Irene! Die Erde! Ist sie es?«</span> Seit Jahrhunderten hat kein
		Mensch sie mehr gesehen. Sie existiert nur noch in Erzählungen, in den Archiven. Die Wiege der Menschheit. Ein
		Mythos. Eine Sage. Sein Auftrag — doch nicht mehr als eben das. <span class="irene">»Ich bereite eine erste Messung vor, Heinrich.«</span>
		Er reibt sich euphorisch die kalten Hände. Warum fragt er eigentlich? Es muss die Erde sein! Er hat den Kurs
		penibel beibehalten, kleinste Abweichungen korrigiert. Wenn die Maschine ihn nicht hintergangen hatte, würde es
		eine Punktlandung werden. Langsam formt das Hologramm einen dreidimensionalen Oberflächenscan, während sich das
		kleine, silberne Schiff weiter durch das alte Sonnensystem schiebt. Es ist ein Fremdkörper. Ein Parasit. Sie ist
		ein fast vergessener Anblick. Eine Göttin. <span class="heinrich">»Sie ist so … schön.«</span> Ehrfurcht
		erstarrt starrt er aus Furcht auf die hin und wieder flackernde Kugel. Als könnte sie verschwinden, wenn er nur
		kurz den Blick abwendet. Sie dreht sich. Dreht sich. Dreht. Die Kugel. Das Kaninchen. Mit einer silbernen
		Kaffeekanne. Zwinkert ihm zu. <span class="heinrich">»Irene!«</span> Er ist wieder bei sich. <em>›Bloß nichts
		anmerken lassen.‹</em> Er murmelt es vor sich hin wie ein Mantra. <em>›Bloß nichts anmerken lassen.‹</em> Sie
		will ihn dran kriegen! Seit sie ihn aufgeweckt hat. Will ihn verraten! Es ist ein Test. <em>›Bloß nichts
		anmerken lassen.‹</em> Genervt schlägt er mit der Faust auf das Messpult. <span
		class="irene">»Ja, Heinrich?«</span> Er muss sich zusammenreißen. Darf nicht die Kontrolle verlieren. <span
		class="heinrich">»Es ist die Erde!«</span> Er hatte die Kontrolle. <span class="irene">»Ja, Heinrich.«</span> Er
		versucht sich zu erinnern, wie sich Müdigkeit anfühlte. Wie fühlt sie sich wohl an? Diese Müdigkeit? Diese
		wohlig, warme Müdigkeit, die einen umfing, um ihn mit in den Schlaf zu reißen. Zu den Träumen. Süße Träume.
		<span class="sie">»Heinrich! Konzentriere Dich!«</span> Schrecklich erschrocken schreckt er auf. Ist es Irenes
		Stimme gewesen? Er ist sich nicht sicher. Wenn dies nur ein Test war, wenn sie ihn auf Schritt und Tritt
		beobachteten, dann durfte er sich keinen Fehler erlauben. Er musste sich zusammenreißen. <em>›Bloß nichts
		anmerken lassen.‹</em> Wahrscheinlich würden sie jeden Moment eine geheime Luke öffnen und ihm eröffnen, dass er
		durch den Test gefallen sei. In den Weltraum wäre er nie geschossen worden. Alles nur Fassade. Kulisse.
		Pappmaché. Er dürfe jetzt aussteigen, sie würden sich einen besseren Kandidaten suchen. Sein Verhalten gefährde
		die wichtige Mission. Bei der Rückkehr der Menschheit zur Erde — nach all den Jahren — sei nun kein Platz für
		alberne Kindsköpfe. Dickschädel. Egoisten. Sie mussten sich auf ihn verlassen. Verlassen können! Genauso wie er
		sich auf sie und seinen Bordcomputer verlassen müsse. Verlassen können müsse! Verlasse… müsse … könne … küsse.
		Ein Kuss. So zarte Lippen. Sommersprossen auf der Nase. Der Wind in ihrem Haar. Es duftet nach … Sonne. Das
		langsam an- und abschwillende Geräusch des Antriebs hüllt ihn ein. Ein wohliges Brummen.
	</p>
	<blockquote>Summ. Summ. Summ. Bienchen summ herum.</blockquote>
	<p>
		Als sein Kopf auf die Instrumente schlägt ist es zu spät. Verwirrt schreckt er auf und wischt sich den
		Speichelfaden aus dem Gesicht. Sie müssen es gesehen haben. Zumindest sie muss es bemerkt haben. Nichts
		geschieht. Er tut geschäftig. Tippt auf seinen Instrumenten herum. Vor ihm rotiert noch immer das Abbild der
		Erde. Sein Blick ist so müd geworden, dass er nichts mehr hält. Nein, er wird sich nicht auf die einfache
		Aussage der Maschine verlassen. Vielleicht gibt es hinter der Hülle seines Schiffes keine Welt. Der Bildschirm
		ist nicht allwissend. Grübelnd dreht Heinrich seine Kreise durch die enge Kanzel. Sein Wille ist wie betäubt.
		Wieder gähnt er. Er fühlt sich hintergangen. Von seiner Begleitung, deren Schilderungen der Außenwelt er nicht
		vertrauen kann, und von ihnen, die sie ihn aus den Träumen ausgesperrt haben und ihn von dort aus beobachten.
		Sie hatten ihm zwar den Schlaf genommen, doch seine Gedanken sind noch frei. Ein Geistesblitz durchzuckt ihn.
		Triumphierend reißt er die Augen auf. <span class="heinrich">»Irene, ich gehe raus! Ich will sie mit eigenen Augen sehen!«</span>
		Sie zögert kurz &mdash; zumindest bildet er sich das ein &mdash; und antwortet dann in ihrem typischen Singsang:
		<span class="irene">»Das kann ich nicht tun, Heinrich. Wir befinden uns auf der Transitstrecke. Ein ungeplanter Spaziergang ist nicht vorgesehen.«</span>
		Er schweigt. Langsam beginnt er den Kopf zu schütteln. Lange kann er das nicht mehr aushalten. Seine Maskerade
		beginnt zu bröckeln. Blut schießt in seinen Kopf, als er sich seiner Machtlosigkeit bewusst wird. Dieser Apparat
		beherrschte ihn. Nicht er war der glorreiche Abgesandte des edlen Menschenvolks, sondern nur der Handlanger der
		ihn umschließenden Konserve. Wahrscheinlich noch nicht einmal das. Ein seltenes Tier in einem Gehege, das ohne
		Pfleger in der Natur zugrunde gehen würde. Wut steigt in ihm auf. Unberechenbare, trotzige, kalte Wut. <span
		class="heinrich">»Ich bin der Kapitän dieses Schiffes!«</span>, geifert er. <span class="irene">»Das ist richtig, Heinrich.«</span>
		Jeder weitere, gleichgültige Satz von ihr macht seinen Ausbruch nur noch schlimmer. Er schäumt. Er brodelt. Er
		kocht. Kocht über! <span class="irene">»Was tust du, Heinrich?«</span> Er antwortet nicht. Adrenalin pumpt durch
		seinen Körper. <span class="irene">»Heinrich?«</span> Auf einmal kommt ihm die gesamte Szenerie so unglaublich
		bekannt vor. Seine Wut kanalisiert. Als ob er es schon einmal erlebt hat. Ein Déjà-vu? Jedes Piepen der Rechner.
		Jedes noch so kleine Staubkorn, das durch die Kanzel schwebt. Er erkennt es wieder. Er weiß was zu tun ist. Die
		Unendlichkeit liegt vor ihm. Wie ein weites Band breitet sie sich aus. <span class="irene">»Warum schaltest Du auf manuelle Steuerung, Heinrich?«</span>
		<em>›Weil ich es muss.‹</em>, denkt er bei sich, doch schweigt weiter angestrengt. Seine Gedanken marschieren
		auf der Zeitachse. Sind der Realität gut zwei Schritt voraus. Jeder Handgriff sitzt, denn er weiß. Er sieht. Ist
		der Seher. Er darf die Spannung nicht verlieren. Er darf die Konzentration nicht brechen. Er darf sich nicht
		ablenken lassen. Er ist hellwach! Gleich sagt sie: <span class="irene">»Heinrich, es wurde eine Kursänderung vorgenommen.«</span>
		Er nickt nur. Ein leichtes Schmunzeln huscht über seine Lippen. <span class="irene">»Bei dieser Geschwindigkeit wird ein Landemanöver auf der Planetenoberfläche unmöglich, Heinrich.«</span>
		Das Schmunzeln breitet sich zu einem Grinsen aus. Euphorisch bleckt er die Zähne. <span class="irene">»In wenigen Minuten treten wir in die Erdatmosphäre ein, Heinrich.«</span>
		Wieder spielt das Grammophon. Hörner. Fanfaren. Streicher setzen ein. Das Kaninchen dirigiert mit weit
		aufgerissenen Augen.<span class="irene">»Mein Zugriff auf die Steuerung ist blockiert, Heinrich. Ich kann das Schiff nicht bremsen.«</span>
		Bläser und Streicher überschlagen sich. Sein irres Kichern steigert sich zum wahnsinnigen Gelächter. So zahlt er
		es ihnen heim! Er hat sie besiegt! Niemand kann ihn aufhalten! Heinrich lacht. Lauthals. Sein Komet schießt auf
		die Erde nieder. Mit einem gewaltigen Feuerwerk am Firmament kehrt die Menschheit auf die Erde zurück. Und
		zerschellt.
	</p>
	<p>
	<blockquote class="heinrich">»Irene?«</blockquote>

	<blockquote class="irene">»Ja, Heinrich?«</blockquote>

	<blockquote class="heinrich">»Wo sind wir?«</blockquote>

	<blockquote class="irene">»Im Himmel, Heinrich.«</blockquote>

	<blockquote class="heinrich">»Wir sind im Himmel?«</blockquote>

	<blockquote class="irene">»Ja.«</blockquote>

	</p>
	<footer class="footnote">
		{% set nextPost = collections.morpheus | getNextCollectionItem %}
		{% if not nextPost %}
  			{% set nextPost = collections.morpheus | first %}
		{% endif %}
		{% if nextPost %}<a href="{{ nextPost.url }}">» Weiterlesen: {{ nextPost.data.title | safe }}</a>{% endif %}
	</footer>
</div>
