/* DARK THEME */
:root,
:host {
  --ignt-theme-name: "phneutral-dark";
  --ignt-color-scheme: dark;

  --ignt-mix-color-down: hsla(0, 0%, 0%, 1); /* black */
  --ignt-mix-color-up: hsla(0, 0%, 100%, 1); /* white */

  --ignt-color-neutral-1000: hsla(0, 0%, 100%, 1); /* white */
  --ignt-color-neutral-0: hsl(240, 5.9%, 11%); /* dark gray */

  --ignt-color-text-default: color-mix(in srgb, var(--ignt-color-primary), var(--ignt-mix-color-up) 70%);
  --ignt-color-text-invert: color-mix(in srgb, var(--ignt-color-primary), var(--ignt-mix-color-down) 70%);

  .logo svg path {
    color: color-mix(in srgb, var(--ignt-color-primary), var(--ignt-mix-color-up) 70%);
  }

  /* Solarpunk */
  .solarpunk {
    & .sheet {
      box-shadow: 20px 20px 0 color-mix(in srgb, var(--ignt-color-yellow-500), var(--ignt-mix-color-up) 20%) !important;

    }
    & .sheet > p,
    & .sheet-paragraph > p {
      &:first-of-type:first-letter {
        color: black !important;
        background-color: var(--ignt-color-yellow-500) !important;
        border-left: 7px solid color-mix(in srgb, var(--ignt-color-yellow-500), var(--ignt-mix-color-down) 30%) !important;
        text-shadow: 2px 2px 0 color-mix(in srgb, var(--ignt-color-yellow-500), var(--ignt-mix-color-down) 30%) !important;
      }
    }
  }
}

