/* LIGHT THEME */
:root,
:host {
  --ignt-theme-name: "phneutral-light";
  --ignt-color-scheme: light;

  --ignt-mix-color-down: hsla(0, 0%, 100%, 1); /* white */
  --ignt-mix-color-up: hsla(0, 0%, 0%, 1); /* black */

  --ignt-color-neutral-1000: hsla(0, 0%, 0%, 1); /* black */
  --ignt-color-neutral-0: hsla(0, 0%, 100%, 1); /* white */

  --ignt-color-text-default: color-mix(in srgb, var(--ignt-color-primary), var(--ignt-mix-color-up) 50%);
  --ignt-color-text-invert: color-mix(in srgb, var(--ignt-color-primary), var(--ignt-mix-color-down) 50%);

  .logo svg path {
    color: color-mix(in srgb, var(--ignt-color-primary), var(--ignt-mix-color-up) 50%);
  }

  @layer elements.solarpunk {
    /* Solarpunk */
    .solarpunk {
      --ignt-surface-dark: color-mix(in srgb, var(--ignt-color-yellow-500), var(--ignt-mix-color-down) 30%);
    }
  }
}
