<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<title>{{ metadata.title }} — {{ title }}</title>

	<!-- meta -->
	<meta name="author" content="{{ metadata.author.name }}"/>
	<meta name="fediverse:creator" content="{{ metadata.author.fediverse }}" />

	<meta name="description" content="{{ description or metadata.description }}"/>
	<meta name="keywords" content=""/>
	<meta name="robots" content="index, follow, noarchive"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta property="og:image" content="{{ metadata.image }}"/>
	<meta name="twitter:image:src" content="{{ metadata.image }}"/>
	<link href="{{ metadata.image }}" rel="apple-touch-icon"/>
	<link rel="icon" href="/static/meta/favicon.ico" type="image/x-icon">

	<!--<link rel="preload" href="static/shoelace/shoelace.css" as="style">
	<link rel="stylesheet" href="static/shoelace/shoelace.css">-->

	{%- if eleventy.env.runMode === "serve" %}
		<link rel="preload" href="/static/shoelace/index.js" as="script">
		<script src="/static/shoelace/index.js"></script>

		<link rel="preload" href="/static/css/style.css" as="style">
		<link rel="stylesheet" href="/static/css/style.css">
	{%- else  %}
		<link rel="preload" href="/static/shoelace/index.min.js" as="script">
		<script src="/static/shoelace/index.min.js"></script>

		<link rel="preload" href="/static/css/style.min.css" as="style">
		<link rel="stylesheet" href="/static/css/style.min.css">
	{%- endif %}

	{% jsonLdScript meta, type, tags %}

</head>
<body class="{{ theme }}">
	{% block header -%}
		{% include "components/header.njk" %}
	{% endblock -%}

	{%- block content %}
		<article>
			{{ content | safe }}
		</article>
	{% endblock -%}

	{% block footer -%}
		{% include "components/footer.njk" %}
	{% endblock -%}
</body>
</html>
