<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<title>♹ phneutral.net — Texte, Zeug und Ideen von Christopher Reinbothe.</title>

	<!-- meta -->
	<meta name="author" content="Christopher Reinbothe"/>
	<meta name="fediverse:creator" content="@phneutral@ruhr.social" />

	<meta name="description" content="Selbstbeschreibung: Graphikdesignlaborant und Internetarchivar — wahrscheinlich Zeitreisender. #utopist!"/>
	<meta name="keywords" content=""/>
	<meta name="robots" content="index, follow, noarchive"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta property="og:image" content="static/images/phneutral_logo.webp"/>
	<meta name="twitter:image:src" content="static/images/phneutral_logo.webp"/>
	<link href="static/images/phneutral_logo.webp" rel="apple-touch-icon"/>
	<link rel="icon" href="static/meta/favicon.ico" type="image/x-icon">

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

	<!--<link rel="preload" href="static/shoelace/shoelace.css" as="style">
	<link rel="stylesheet" href="static/shoelace/shoelace.css">-->
    <link rel="preload" href="/static/shoelace/index.min.js" as="script">
	<script src="/static/shoelace/index.min.js"></script>

	<!-- CSS -->
	<link rel="preload" href="/static/css/style.min.css" as="style">
	<link rel="stylesheet" href="/static/css/style.min.css">

</head>
<body>
	{% include "components/header.njk" %}
	<article>
		{{ content | safe }}
	</article>
	{% include "components/footer.njk" %}
</body>
</html>
